# Python Assignment - 3

- Lists

1. City = [‘Gurgaon’, ’Mumbai’, ’Bangalore’]
i) Print the second item from the list.
ii) Change the value from "Gurgaon" to "Kerala"
iii) Remove the last element of the list.

In [8]:
city=['Gurgaon', 'Mumbai', 'Bangalore']
print("The second item in the list is",city[1])
city[0]='Kerala'
print("The new list is",city)
city.pop()
print("The remaining list is",city)

The second item in the list is Mumbai
The new list is ['Kerala', 'Mumbai', 'Bangalore']
The remaining list is ['Kerala', 'Mumbai']

2. Use negative indexing to print the last item in the list. Make
a list by yourself.

In [23]:
list=['jay','swarna','hari','gopal']
list[-1]

'gopal'

3. Use a range of indexes to print the third, fourth, and fifth
item in the list. Make a list by yourself.

In [25]:
list=['jay','swarna','hari','gopal','smarika']
list[2:6]

['hari', 'gopal', 'smarika']

4. Remove the last element from the city list

In [26]:
city=['Gurgaon', 'Mumbai', 'Bangalore','Delhi']
city.pop()
city

['Gurgaon', 'Mumbai', 'Bangalore']

5. fruits=[‘apple’,’lichi’,’guava’,’cherry’,’mango’,’watermelo
n’,’banana’]
i) Add "orange" at the end of the above list.
ii) Add "lemon" as the second item in the fruits list

In [35]:
fruits=['apple','lichi','guava','cherry','mango','watermelon','banana']

fruits.append('orange')
print(fruits)
fruits.insert(1,'lemon')
print(fruits)

['apple', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']
['apple', 'lemon', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']

6. Remove ‘cherry’ from the fruit list given above.

In [36]:
fruits.remove('cherry')
fruits

['apple', 'lemon', 'lichi', 'guava', 'mango', 'watermelon', 'banana', 'orange']

7. Write the python program to let the user input a list of
numbers and print the list in descending order.

In [13]:
lst = []
n = int(input("Enter number of elements : "))
for i in range(0, n):
            ele = int(input("Enter the elements"))
            lst.append(ele)
            lst.sort(reverse=True)
print(lst)

Enter number of elements : 4
Enter the elements3
Enter the elements1
Enter the elements5
Enter the elements6
[6, 5, 3, 1]

8. Write the python program to let the user input two lists and
combine both the lists.

In [17]:
lst1 =[]
lst2=[]
n = int(input("Enter number of elements in both the list:"))
for i in range(0, n):
    ele = int(input("Enter the elements of 1st list"))
    lst1.append(ele)
print(lst1)  

for j in range(0, n):
    ele = int(input("Enter the elements of 2nd list"))
    lst2.append(ele)
print(lst2)

com=list(zip(lst1,lst2))
print("Combined list is",com)

Enter number of elements in both the list:2
Enter the elements of 1st list12
Enter the elements of 1st list34
[12, 34]
Enter the elements of 2nd list23
Enter the elements of 2nd list45
[23, 45]
Combined list is [(12, 23), (34, 45)]

9. List = [10, 45, 78, 11, 9, 23]. Shuffle this list.

In [30]:
import random
lst = [10,45,78,11,9,23]
random.shuffle(lst)

print("Shuffled list is :",lst)

Shuffled list is : [45, 11, 10, 78, 23, 9]

10. x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
i) What is the expression that returns the 'z' in 'baz'?
ii) What expression returns the list ['baz', 2.718]?

In [39]:
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
print(x[1][2][1][-1])
print(x[1][2][1:])

z
['baz', 2.718]

11. Extract element 20 from the above list.

In [42]:
x[1][1]

20

12. You have a list a = [1, 2, 7, 8]
Write a Python statement using slice assignment that will fill in
the missing values so that a equals [1, 2, 3, 4, 5, 6, 7, 8]

In [71]:
a = [1, 2, 7, 8]
b=a[2:]
b
a[2:]=[3,4,5,6]
a
c=a+b
c

[1, 2, 3, 4, 5, 6, 7, 8]