1. Write a Python program to add an item in a tuple.

In [11]:
 t = (10,20,30,40,50)
print("The Original tuple :",t) 


t = t + (60,)
print("The Resultant Tuple after adding an Item :",t)

The Original tuple : (10, 20, 30, 40, 50)
The Resultant Tuple after adding an Item : (10, 20, 30, 40, 50, 60)

2. Write a Python program to reverse a tuple.

In [7]:
tup=(11,20,55,60,20)
print("The original tuple is",tup)
tup[::-1]

The original tuple is (11, 20, 55, 60, 20)

(20, 60, 55, 20, 11)

3. Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)

In [21]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

(11, 22)
(99, 88)

4. Modify the first item (22) of a list inside a following tuple to
222
tuple1 = (11, [22, 33], 44, 55)

In [16]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222
tuple1

(11, [222, 33], 44, 55)

5. Write a Python program to unpack a tuple in several
variables

In [22]:
t = (40,50,60,70,80)
v,w,x,y,z = t
print("v=",v,"w=",w,"x=",x,"y=",y,"z=",z)

v= 40 w= 50 x= 60 y= 70 z= 80

In [24]:
a=10
b=20
c=30
d=40
t=a,b,c,d
print(t)

(10, 20, 30, 40)

6. Write a Python program to add member(s) in an empty
set.

In [25]:

col_set = set()
col_set.add("Red")
print(col_set)
col_set.update(["Blue", "Green"])
print(col_set)

{'Red'}
{'Blue', 'Green', 'Red'}

7. Write a Python program to create an intersection of sets

In [27]:
x = set([4,5])
y = set([7,4])
z = x & y
print(z)

{4}

8. Write a Python program to create a symmetric difference
in sets.

In [29]:
x = set(["apple", "mango"])
y = set(["mango", "orange"])
c = x ^ y
print(c)

{'apple', 'orange'}

9. Return a set of identical items from a given two Python
set
set1 = [10, 20, 30, 40, 50]
set2 = [30, 40, 50, 60, 70]

In [30]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set3=set1 & set2
print(set3)

{40, 50, 30}

10. Remove 10, 20, 30 elements from a following set at
once
set1 = {10, 20, 30, 40, 50}

In [31]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
print(set1)

{40, 50}

11. Access value 20 from the following tuple
example = ("Pooja", [10, 20, 30], (25, 50, 15))

In [35]:
tup=("Pooja", [10, 20, 30], (25, 50, 15))
tup[1][1]

20

12. Count the number of occurrences of item 50 from a tuple
numbers = (50, 10, 60, 70, 50)

In [36]:
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2